.Fonts{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 110, 0.2) 0px 7px 29px 0px;
    margin: 25px;
    margin-top: 10px;
    padding: 10px;
}

.FontsButtonDiv{ 
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

    .FontsButton{ 
        height: 4rem;
        width: 4rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 110, 0.2) 0px 7px 29px 0px;
        margin: 25px;
        margin-top: 10px;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-size: 1rem;
    }
    #FontsButton1{ 
        font-family: 'Roboto', sans-serif;
    }
    #FontsButton2{ 
        font-family: 'Lora', serif;
    }
    #FontsButton3{ 
        font-family: 'Courier New', monospace;
    }
        .FontsButton:hover{ 
            box-shadow: rgba(18, 18, 20, 0.2) 10px 10px 10px 0px;
        }
        .FontsButton.Selected{ 
            background: rgb(243, 243, 243);
            box-shadow: rgba(18, 18, 20, 0.2) 10px 10px 10px 0px;
        }