.App{ 
  background-color: rgb(215, 215, 215);
  display: flex;
  justify-content: space-evenly;
  height: 100vh;;
}
.EditComps{
  display: flex;
  flex-direction: column;

}

.PreviewComps{
  background-color: white;
  width: 700px;
  height: 900px;

}
